<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css">

<div class='container'>
	<div class='panel panel-primary dialog-panel'>
		<div class='panel-heading'>
			<h5>Registration</h5>
		</div>
		<div class='panel-body'>
			<form class='form-horizontal' role='form'>
				<div class="form-group">

					<div ng-show="regCtrl.error" align="center"
						class="col-sm-offset-2 col-sm-2 alert alert-danger">{{regCtrl.message}}</div>

				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='id_title'>Name*</label>
					<div class='col-md-8'>
					<!-- 	<div class='col-md-2'>
							<div class='form-group internal'>
								<select class='form-control' id='id_title'
									ng-model="regCtrl.registration.title">
									<option>Mr</option>
									<option>Ms</option>
									<option>Mrs</option>
									<option>Miss</option>
									<option>Dr</option>
								</select>
							</div>
						</div> -->
						<div class='col-md-3 indent-small'>
							<div class='form-group internal'>
								<input class='form-control' id='id_first_name'
									ng-model="regCtrl.registration.firstName"
									placeholder='First Name' type='text' required>
							</div>
						</div>
						<div class='col-md-3 indent-small'>
							<div class='form-group internal'>
								<input class='form-control' id='id_last_name'
									ng-model="regCtrl.registration.lastName"
									placeholder='Last Name' type='text' required>
							</div>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='id_email'>Username*</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='id_username'
									placeholder='Username' ng-model="regCtrl.registration.username"
									type='text' required>
							</div>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='id_email'>Password*</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='id_password'
									placeholder='Password' ng-model="regCtrl.registration.password"  required
									type='password'>
							</div>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='id_email'>Email*</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='id_email' placeholder='E-mail'
									ng-model="regCtrl.registration.email" type='email' required>
							</div>
						</div>
						</div>
						</div>
						<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='id_email'>Phone Number</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='id_phone' ng-model="regCtrl.registration.phoneNumber" required
									placeholder='Phone: (xxx) - xxx xxxx' type='number' maxlength='13' pattern='{10,13}' title='Please enter valid phone number'>
							</div>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='id_email'>Address</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='id_address'
									placeholder='Address' ng-model="regCtrl.registration.address"
									type='text'>
							</div>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2' for='id_gender'>Gender</label>				
						<div class='col-md-6'>
							<div class='form-group'>
							<div class='col-md-11'>
								<select class='form-control' id='id_gender'
									ng-model="regCtrl.registration.gender">
									<option>Male</option>
									<option>Female</option>
								</select>
							</div>
							</div>
						</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2' for='id_userType'>UserType</label>				
						<div class='col-md-6'>
							<div class='form-group'>
							<div class='col-md-11'>
								<select class='form-control' id='id_userType'
									ng-model="regCtrl.registration.userType">
									<option>Customer</option>
									<option>Owner</option>
								</select>
							</div>
							</div>
						</div>
				</div>
				<!-- <div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='id_email'>Date of Birth</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<p class="input-group">
									<input type="text" class="form-control"
										uib-datepicker-popup="{{regCtrl.dobOptions.format}}"
										ng-model="regCtrl.registration.dateOfBirth"
										is-open="regCtrl.dobOptions.popup"
										datepicker-options="regCtrl.dateOptions" ng-required="true"
										close-text="Close"
										alt-input-formats="regCtrl.dobOptions.altInputFormats" /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="regCtrl.open()">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>

								</p>
							</div>
						</div>
					</div>
				</div>
 -->				<div class='form-group'>
					<div class='col-md-offset-4 col-md-3'>
						<button class='btn btn-primary' ng-click="regCtrl.register()"
							type='submit'>Register</button>
					</div>
					<div class='col-md-3'>
						<button class='btn btn-danger' ng-click="regCtrl.cancel()"
							style='float: right' type='submit'>Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>